<%= render 'layouts/header' %>

<div class="stores-show-container clearfix">

  <div class="store-visual-area">
    <%= image_tag @store.image.to_s, class: 'store-visual' %>
  </div>

  <div class="stores-show-body">
      <span class="stores-title-name">
        <%= @store.name %>
      </span>

      <div class="stores-show-address">
        <p>住所：<%= @store.address %></p>
      </div>

      <div class="stores-show-link">
        <%= link_to @store.link, @store.link %>
        <p><%= @store.link %></p>
      </div>

      <div class="introduction-text">
        <%= @store.introduction %>
      </div>

      <div class="introduction-text">
        <%= @store.google_iframe %>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.2270957461533!2d139.76515045096806!3d35.67140983802055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be6c9a97f19%3A0x984ec41b26c74232!2z44CSMTA0LTAwNjEg5p2x5Lqs6YO95Lit5aSu5Yy66YqA5bqn77yT5LiB55uu77yY4oiS77yYIOmKgOW6p-ODpOODnuODiOODk-ODqzHpmo4!5e0!3m2!1sja!2sjp!4v1553848286614!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!-- <iframe src="@store.google_iframe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->

      </div>

  </div>



</div>

<%= render 'layouts/footer' %>