<div class="top-background-image">

  <%= render 'layouts/header' %>

  <div class="blank-up" style="height:30vh; width:100%; opacity:0; background-color:#eee">
    
  </div>

  <div class="title" style="height:20vh; width:100%; background-color:rgba(200,200,200,0.7); padding-left:20%; font-size: 50px; line-height: 20vh">
    <strong>甘さと旨みの、その先へ。</strong>
  </div>

  <div class="search" style="border: 1px solid black; height:20vh; width:100%; background-color:rgba(200,200,200,0.7); padding:10vh 0 0 20%">
    <%= form_tag items_result_path, method: :get do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索' %>
    <% end %>

    <ul><% @items.each do |item| %>
      <li>
        <%= link_to item.name, item %>
        <%= item.created_at %>
        <%= item.introduction %>
      </li>
        <%#= link_to "編集", edit_item_path(item) %>
        <%= link_to "削除", item, method: :delete %>
      <% end %>
    </ul>

  </div>

  <div class="blank-low" style="height:calc(30vh - 100px); opacity:0; width:100%; background-color:#EEE">
    
  </div>

  <footer style="height:40px; background-color:#EEE">
  </footer>

</div>