<div class="top-background-image">

  <%= render 'layouts/header' %>

  <div class="top-container">

    <div class="slogan-area">
      <h1>人生に、もっと日本酒を。</h1>
    </div>

    <div class="tops-search-area">
      <%= form_tag items_result_path, method: :get do %>
        <%= text_field_tag :search, '' ,{ :placeholder => '銘柄/場所/特徴を入力', :class => 'tops-search-box' } %>
        <%= submit_tag '検索',:class => 'tops-submit-tag' %>
      <% end %>
    </div>

    <div class="tops-search-details">
      <%= link_to '＋ 一覧表示はこちら ＋', items_result_path %>
    </div>

  </div>

  <%= render 'layouts/footer' %>

</div>