<%= form_for @tag do |f| %>

  <div class="field">
    <%= f.label :tag_name, "タグ名*" %><br>
    <%= f.text_field :tag_name %>
  </div>
  <div class="field">
    <%= f.submit 'タグ作成' %>
  </div>
  <%= flash[:success_tag] %>

<% end %>