<%= render 'layouts/header' %>

<div class="items-container clearfix">

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= @item.errors.count %>件のエラーが発生しました。</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="items-wrapper">
    <h1>銘柄追加</h1>
    <%= render 'items/items_format' %>
  </div>

  <div class="tags-wrapper">
    <h1>タグ作成</h1>
    <%= render 'items/tags_format' %>
  </div>

</div>