<%= render 'layouts/header' %>

<div class="result-search" style="display:none">
  <%= form_tag items_result_path, method: :get do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Go', class: "btn-xs" %>
  <% end %>
</div>


<div class="items-result-container">

  <h1 class="result-title-text">検索結果一覧</h1>
    <div class="items-result">
      <% @items.each do |item| %>
        <div class="result-visual-area">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image.to_s, class: "result-visual" %>
          <% end %>
        </div>

        <div class="result-body-area">
          <%= item.name %><br>
          <%= item.introduction %>

        </div>

      <% end %>
    </div>



</div>

<%= render 'layouts/footer' %>