<%= render 'layouts/header' %>




<div class="items-result-container">

  <h1 class="result-title-text">検索結果一覧</h1>
    <div class="items-result">
      <% @items.each do |item| %>
        <div class="result-visual-area">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image.to_s, class: "result-visual" %>
          <% end %>
        </div>

        <div class="result-body-area">
          <%= item.name %><br>
          <%= item.introduction %>

        </div>

      <% end %>



</div>

<%= render 'layouts/footer' %>