<%= render 'layouts/header' %>

<div class="result-search" style="display:none">
  <%= form_tag items_result_path, method: :get do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Go', class: "btn-xs" %>
  <% end %>
</div>

<div class="items-result-container">

  <h2 class="result-title-text">検索結果一覧</h2>
    <% @items.each do |item| %>

      <div class="result-row clearfix">
        <div class="result-visual-area">
          <div class="white-mask">
            <%= link_to item_path(item) do %>
              <%= image_tag item.image.to_s, class: "result-visual-content" %>
            <% end %>
          </div>
        </div>

        <div class="result-body-area">
          <%= link_to item_path(item) do %>
            <h3 class="result-items-name"><%= item.name %></h3>
          <% end %>

<!-- ここから古い -->
          <span style="display:none">
            <p>[<%= item.category_id.slice(3..9) %>]<br>
            <%= item.introduction %></p>
          </span>
<!-- ここまで -->

            <p>[<%= item.category_id.slice(3..9) %>] / 

            <% item.tags.each do |tag| %>
              [<%= tag.tag_name %>]
            <% end %></p>

            <p><%= item.introduction %></p>
        </div>

      </div>
    <% end %>




</div>

<%= render 'layouts/footer' %>