<%= render 'layouts/header' %>

<div class="items-show-container clearfix">

  <div class="sake-visual-area">
    <%= image_tag @item.image.to_s, class: 'sake-visual' %>
  </div>

  <div class="items-show-body">
      <span class="items-title-name">
        <%= @item.name %>
      </span>
      <span class="items-title-made_in">
        (<%= @item.made_in_id.slice(4..9) %>)
      </span><br>

      <h5 class="category-text btn btn-xs btn-primary">
        <%= @item.category_id.slice(3..9) %>
      </h5>

    <% @item.tags.each do |tag| %>
      <h5 class="tag-text btn btn-xs btn-success">
        <%= tag.name %>
      </h5>
    <% end %></p>

      <h3 class="items-stores-title">基本情報</h3><br>

      <p class="parameter-text">
        <% if @item.sake_parameter? %>
          日本酒度 <strong><%= @item.sake_parameter %></strong>　
        <% end %>
        <% if @item.acid_parameter? %>
          酸度 <strong><%= @item.acid_parameter %></strong>
        <% end %>
      </p>

      <div class="introduction-text">
        <%= @item.introduction %>
      </div>

      <div class="items-stores-area">

        <h3 class="items-stores-title">このお酒が飲める場所</h3><br>

        <% if @item.stores.any? %>
          <% @item.stores.shuffle.each do |store| %>

            <div class="items-stores-unit">
              <%= image_tag store.image.to_s, fallback: "/images/no_image.png", class: "items-stores-visual" %>

              <!-- リンクのクリック時は、その時前面に出ているblack-maskに貼る -->
              <%= link_to store_path(store.id) do %>

                <div class="black-mask">
                  <h4 class="items-stores-name">
                    <%= store.name.slice(0..19) %>
                    <% if store.name.length >= 20 %>...<% end %>
                  </h4>
                  <h5 class="items-stores-text">
                    <%= store.introduction.slice(0..50) %>
                    <% if store.introduction.length >= 50 %>...<% end %>
                  </h5>
                </div>

              <% end %>
            </div>

          <% end %>

        <% else %>
          <p>coming soon...</p>
        <% end %>

      </div>

  </div>



</div>

<%= render 'layouts/footer' %>